{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Your Reservations</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Parking Lot</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.parking_space.parking_lot.name }}</td>
                <td>{{ reservation.start_time }}</td>
                <td>{{ reservation.end_time }}</td>
                <td>{{ reservation.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
